* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background: FFFEFA;
}

/*common class*/
.btn {
    background: #872BFF;
    padding: 14px 30px;
    font-size: 12px;
    border: 1.7px solid;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    box-shadow: 0 11px 21px #8C8C8C;
    cursor: pointer;
    margin-right: 20px;
    transition: all .7s;
}

.btn:hover {
    background: white;
    color: #872BFF;
}

.container {
    width: 87.5%;
    margin: 0 auto;
}

.heading {
    margin-bottom: 60px;
    text-align: center;
}

.heading h4 {
    font-size: 22px;
    letter-spacing: 3px;
    color: #872BFF;
    font-weight: bold;
    margin-bottom: 20px;
}

.heading h2 {
    font-size: 44px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.card {
    background-color: white;
    /*border: 1px solid;*/
    padding: 40px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
}

.card * {
    margin-bottom: 20px;
}

.card h3 {
    font-size: 22px;
    font-weight: bolder;
}

.card p {
    font-size: 16px;
    color: #0D1321;
}

.card a {
    color: #0D1321;
    font-weight: bold;
}

/*projects section*/

#projects,
#skill,
#experiance {
    margin-bottom: 100px;
}

.project-card {
    background: #FFFFFF;
    display: flex;
    gap: 30px;
    border: 1px solid #872BFF;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 45px;
    padding: 40px;
}

.project-img img {
    /*height: 300px;*/
    width: 400px;
    border-radius: 20px;
}

.project-content h3 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.project-content p {
    font-size: 13px;
    color: #0E0E0E65;
}

.project-content * {
    margin-bottom: 20px;
}


#hero {
    padding: 100px;
    background: url("assets/Hero-bg.png");
    height: 630px;
    background-size: 500px;
    margin-bottom: 100px;
    /*-color: aqua;*/
}

#hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 87.5%;
    /* background-color: blanchedalmond;*/
    margin: 0 auto;
}

#hero-content {
    padding-bottom: 120px;
}

#hero-content h1 {
    font-size: 35px;
    margin-bottom: 40px;
}

#hero-content h1 span {
    color: #872BFF;
}

#hero-content p {
    font-size: 12.5px;
    color: #8A8A8A;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
}

#hero-image {
    width: 510px;

    align-items: center;
}

#hero-image img {
    margin-bottom: 100px;
    padding-bottom: 120px;
}

.Brands {
    width: 250px;
    height: 120px;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid #0E0E0E;
    border-radius: 16px;
    box-shadow: 0 4px 4px #00000025;
}

.Brands img {
    width: 170px;
    height: 45px;
}

.company-card {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.hero-button {
    text-align: center;
    padding: 60px 0;
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

.media {
    display: flex;
    gap: 25px;
}

#footer-container {
    border-top: 1.5px solid #59484890;
    box-shadow: 5px 5px black;
    width: 100%;
    text-align: center;
    margin: auto 0;
    padding: 17px 17px;
}

/*responsiveness*/

/*laptop 1025px-1200px*/
@media screen and (max-width:1200px) {
    #hero-content {
        margin-bottom: 25px;
    }

    #hero-content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    #hero-content p {
        margin-bottom: 0;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }

    #hero-image {
        margin-bottom: 215px;
    }
}


/*tablet device 769px-1024px*/
@media screen and (max-width:1024px) {
    #hero-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #hero-content {
        margin: 2px 0;
    }

    #hero-content h1 {
        font-size: 25px;
        padding: 0px 0;
        margin-bottom: 10px;
    }

    #hero-content p {
        padding: 0;
    }

    .hero-button {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #hero-image {
        margin-top: 0;
        padding-top: 0;
    }

    #hero-image img {
        width: 320px;
        align-items: center;
        margin-top: 0;
        padding-top: 0;
    }

    #hero {
        height: 770px;
    }

    #projects,
    #skill,
    #experiance {
        text-align: center;
        align-items: center;
    }
}


/*android device landscape 569px-768px*/
@media screen and (max-width:768px) {
    .heading h2 {
        font-size: 32px;
    }

}

/*android device portait 320px-568px*/
@media screen and (mqx-width:568px) {
    #hero {
        width: 100%;
        height: 770px;
        background-size: 100%;
    }

    .container {
        align-items: center;
        text-align: center;
        /*width: 100%;*/
        margin: 0 auto;
    }

    .heading h2 {
        font-size: 32px;
    }

    #hero-image img {
        width: 100%;
        align-items: center;
    }

    #projects,
    #skill,
    #experiance {
        text-align: center;
        align-items: center;
    }
}